<launch>

  <arg name="model" />
  <arg name="gui" default="true" />

  <!-- Load the URDF to the parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find omni_robot)/urdf/description.urdf'" />
  <!--param name="use_gui" value="$(arg gui)" /-->

  <!--node pkg="rostopic" type="rostopic" name="JointState" output="screen" args="pub /joint_states sensor_msgs/JointState '{header:{stamp: now, frame_id:''},name: [ 'origin_joint', 'left_rim_joint', 'left_roller_e_joint', 'left_roller_ne_joint', 'left_roller_n_joint', 'left_roller_nw_joint', 'left_roller_w_joint', 'left_roller_sw_joint', 'left_roller_s_joint', 'left_roller_se_joint', 'back_rim_joint', 'back_roller_e_joint', 'back_roller_ne_joint',  'back_roller_n_joint', 'back_roller_nw_joint', 'back_roller_w_joint', 'back_roller_sw_joint', 'back_roller_s_joint', 'back_roller_se_joint', 'right_rim_joint', 'right_roller_e_joint', 'right_roller_ne_joint', 'right_roller_n_joint', 'right_roller_nw_joint', 'right_roller_w_joint', 'right_roller_sw_joint', 'right_roller_s_joint', 'right_roller_se_joint'],position:[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,0, 0, 0, 0, 0, 0], velocity:[], effort:[]}'"/-->

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find omni_robot)/rviz/description.rviz" required="true" />

   



</launch>
